<ol class="list-group">
  {{#each posts as |post|}}
  <br>
  <li class="list-group-item">
    <article>
      <div class="title">
        <a href="/post/{{id}}" target="_blank">{{post.title}}</a>
      </div>
      <div class="description">{{post.description}}</div>
      <div class="meta">
        {{post.vote_count}} vote(s) by {{post.user.username}} on {{post.created_at}}
        |
        {{post.comments.length}} comment(s)
      </div>
    </article>
  </li>
  <br>
  {{/each}}
</ol>